In [1]:
import pandas as pd
import joblib

In [2]:
test_data = pd.read_csv('test_data.csv')

In [3]:
test_data.head()

,NEWS_TYPE,BEDROOM_NUMBER,BATH_ROOM_NUMBER,AREA,APARTMENT_TYPE,FURNITURE_TYPE,PRICE,LATITUDE,LONGITUDE
0,môi giới,2.0,NaN,70.0,chung cư thường,full,8.00,21.043524,105.906800
1,môi giới,1.0,1.0,40.0,chung cư mini,full,5.50,21.010563,105.799422
2,cá nhân,1.0,1.0,30.0,chung cư thường,full cao cấp,6.83,21.022902,105.808081
3,môi giới,3.0,2.0,90.5,chung cư thường,cơ bản,8.00,21.070437,105.808895
4,cá nhân,1.0,1.0,40.0,chung cư mini,unk,3.00,20.961699,105.783753

In [4]:
test_data['NEWS_TYPE'] = test_data['NEWS_TYPE'].map({'môi giới': 0, 'cá nhân': 1})

In [5]:
test_data['APARTMENT_TYPE'] = test_data['APARTMENT_TYPE'].map({'chung cư tập thể': 0, 'chung cư thường': 1, 'chung cư studio': 2,
                                                     'chung cư mini': 3, 'chung cư cao cấp': 4})

In [6]:
test_data['FURNITURE_TYPE'] = test_data['FURNITURE_TYPE'].map({'unk': 0, 'full': 1, 'cơ bản': 2,
                                                     'full cao cấp': 3, 'nguyên bản': 4})

In [7]:
test_data.head()

,NEWS_TYPE,BEDROOM_NUMBER,BATH_ROOM_NUMBER,AREA,APARTMENT_TYPE,FURNITURE_TYPE,PRICE,LATITUDE,LONGITUDE
0,0,2.0,NaN,70.0,1,1,8.00,21.043524,105.906800
1,0,1.0,1.0,40.0,3,1,5.50,21.010563,105.799422
2,1,1.0,1.0,30.0,1,3,6.83,21.022902,105.808081
3,0,3.0,2.0,90.5,1,2,8.00,21.070437,105.808895
4,1,1.0,1.0,40.0,3,0,3.00,20.961699,105.783753

In [8]:
X_test = test_data.drop(['PRICE', 'BATH_ROOM_NUMBER'], axis=1)

In [10]:
model = joblib.load('./model/best_random_forest.joblib')

In [11]:
model.predict(X_test.iloc[3].values.reshape(1, -1))

array([9.1252381])